<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>My website</h1>
    </div>
    <div class="menu">
        <ul>
            <li>Link 1</li>
            <li>Link 2</li>
            <li>Link 3</li>
            <li>Link 4</li>
        </ul>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="content123">
        {% block content123 %}
        {% endblock %}
    </div>
    <div class="content321">
        {% block content321 %}
        {% endblock %}
    </div>
    <div class="content234">
        {% block content234 %}
        {% endblock %}
    </div>
</body>
</html>