<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://thumb.ac-illust.com/3e/3ed2e08c4f16e867d7129ee87fd320a8_t.jpeg" type="image/gif" sizes="16x16">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../assets/css/createNFT.css">
    <title>NFT | Ownership</title>
</head>
<body>

    <!-- Header -->
<header>

    <div class="container">
        <div class="row menu">
            <div class="col-md-8 menu-left">
                <div class="logo">
                    <img src="../assets/img/Logo.png" alt="">
                    <h1>SALT</h1>
                </div>

                <ul class="menu-right">
                    <li><a href="">News</a></li>
                    <li><a href="">Explore</a></li>
                    <li><a href="">Create NFT</a></li>
                    <li><a href="">Community</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            
            <div class="col-md-4">
                <div class="setting">
                    <a href=""> <i class="ti ti-wallet"></i> Wallet Connect</a>
                    <a href=""> <i class="ti ti-shopping-cart"><sup>2</sup></i></a>
                    <a href=""> <i class="ti ti-bell"><sup>1</sup></i></a>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Create NFT -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="color:#fff;"><i class="ti ti-arrow-left">Return</i></h1>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row createNFT">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="form-control">
                        <label for="nft">Image, Video, Audio, or 3D Model</label>
                        <p style="color:#ccc; font-size: 12px ">File types supported: JPG, PNG, GIF, SVG, MP4, WEBM, MP3, WAV, OGG, GLB, GLTF. Max size: 100 MB</p>
                        <input type="file" class="form-control" placeholder="0xx...">
                    </div>
                    <div class="form-control">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" placeholder="0xx...">
                    </div>

                    <div class="form-control">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" placeholder="0xx...">
                    </div>

                    <div class="form-control">
                        <label for="supply">Supply</label>
                        <input type="text" class="form-control" placeholder="0xx...">
                    </div>

                    <div class="form-control">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control"></textarea>
                    </div>
                    <div class="form-control">
                        <label for="">Collection    </label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Enter your collection</option>
                            <option value="1">NFT Artwork</option>
                            <option value="2">NFT Music</option>
                            <option value="3">NFT Video</option>
                        </select>
                    </div>

                    <div class="fee-tst">
                        <h1>Transaction Fee</h1>
                        <h2><span>0.02 ADA</span></h2>
                    </div>


                    <button type="submit" class="btn btn-warning" >Create NFT</button>
                </div>
            </div>
        </div>

        

        
    </div>

</body>
</html>